.header__buttons {
  display: flex;
  gap: 1rem;
  margin-right: 0.5rem;
}

.header__buttons button {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 8px 2px #47474792;
}

.header__buttons button:hover {
  background-color: var(--secondary);
}


@media (min-width: 992px) {
  .header__buttons {
    gap: 3rem;
  }

  .header__buttons button {    
    padding: 0.8rem 2rem;
  }
}
