.modal {
  background-color: rgb(79, 79, 79, .8);
  backdrop-filter: blur(3px);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.modal-content {
  background-color: rgb(180, 178, 178);
  width: 500px;
  padding: 10px 20px;
  height: 60vh;
  margin: 10vh auto;
}

.modal-btn {
  border: solid 1px gray;
  padding: 6px;
  border-radius: 4px;
}