.modal {
  background-color: rgb(79, 79, 79, .35);
  backdrop-filter: blur(2px);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgba(240, 237, 237, 0.899);
  backdrop-filter: blur(5px);
  width: 30vw;
  height: auto;
  padding: 2rem;
  margin: 10vh auto;
  border-radius: 10px;
  box-shadow: inset 0 0 1rem 0 rgba(0, 0, 0, 0.253);
}

.modal-header {
  margin-bottom: 2rem;
}

.modal-header button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 6px;
  border-radius: 4px;
}

.modal-header img {
  width: 1.5rem;
  height: auto;
}

.modal-body {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}


