 @import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
 @import url('https://fonts.googleapis.com/css?family=Poppins');

 :root {
  --primary: #ffe77c;
  --secondary: #01ABAA;
  --tertiary: #FEA680;
  --light: #fff9e7;
  --shadow: #01abab80;
  --black-shadow: rgba(0, 0, 0, 0.468);
 }

 body {
   background-color: var(--primary);
   color: var(--dark);
   font-family: 'Poppins', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   width: 100vw;
 }

 .title-font {
  color: black;
  font-size: 28px;
  font-weight: bold;
 }

 .invert {
  filter: invert(100%);
 }
 
 .icon {
   height: 2rem;
   width: auto;
 }

 .app {
   display: flex;
   flex-direction: column;
   width: 100vw;
 }


 #root {
   display: flex;
   justify-content: center;
 }

 @media (min-width: 576px) {

   body {
     display: flex;
     justify-content: center;
   }

 }

 @media (min-width: 992px) {

    #root {
      width: 90vw;
    }
    .app {
      align-items: center;
      width: 90%;
    }
 }
