.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 8px 4px var(--black-shadow);
  font-size: larger;
  background-color: var(--secondary);
}

.card__title {
  text-align: center;
  padding: 0.5rem;
  background-color: var(--azure);
  width: inherit;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.card__body {
  background-color: var(--light);
  display: flex;
  flex-direction: column;
  padding-left: 0.2rem;
  gap: 1rem;
  padding-bottom: 0.8rem;
}

.card__body .profile__img {
  margin-top: 0.2rem;
  width: 99%;
  border-radius: 5px;
  box-shadow: inset 2px 2px 8px 8px var(--light);
}

.card__body div {
  padding-left: 1.5rem;
}

.card__footer {
  color: var(--light);
  background-color: var(--azure);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0rem;
  gap: 1rem;
}

.card__footer .icon {
  width: 1.7rem;
  height: auto;
  font-weight: bold;
}

.card__footer:hover {
  background-color: var(--shadow);
}
