 .cards {
  margin: 2rem 0rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 80vw;
} 

@media(min-width: 576px) {

}

@media (min-width: 768px) {
  
}

@media (min-width: 992px) {
  .cards {
    width: 80vw;
  }
}