.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(225, 223, 223);
}

.nav button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.nav img {
  width: 2rem;
}