.nav {
  display: none;
  font-size: larger;
}

@media(min-width: 576px) {
  .nav {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(225, 223, 223);
  }

  .nav button {
    width: 8rem;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    margin: 0.5rem;
  }

  .nav button p {
    display: none;
  }

  .nav img {
    padding-top: 1.5rem;
    height: auto;
    width: 3rem;
  }

  .nav button:hover {
    background-color: rgb(138, 137, 137);
    border-radius: 20px;
  }
  }

@media (min-width: 768px) {
  .nav button {
    margin: 0.3rem 0;
  }

  .nav button p {
    display: inherit;
  }

  .nav img {
    padding-top: 0;
    height: auto;
  }
}

@media (min-width: 992px) {
  .nav {
    width: 100vw;
    justify-content: center;
    gap: 2.5rem;
  }

}