.header {
  display: flex;
  flex-direction: column;
  background-color: var(--light);
}

.header .logo {
  display: none;
}

.header__img {
  width: 100%;
  height: 15svh;
}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100vw;
}

@media (min-width: 992px) {
  .header {
    width: 100vw;
    height: fit-content;
  }
  .header__icons {
    justify-content: space-evenly;
    gap: 4rem;
    height: 20%;
  }
  .header .logo {
    display:flex;
    align-items: baseline;
    height: max-content;
    padding: 0.5rem;
    border-radius: 20px;
  }
  .header .logo :hover {
    background-color: var(--shadow);
    border-radius: 15px;

  }
  .header .logo img {
    height: 5rem;
  }
  .header img {
    height: 35vh;
  }
}

