.footer {
  background-color: rgb(130, 129, 129);
  gap: 1rem;
  display: flex;
  flex-direction: column;
} 

.footer__columns {
  gap: 2rem;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  width: 100%;

}

.column {
  padding: 2rem
}

.copyRight{
  padding: 0.5rem;
  width: 100%;
  background-color: white;
  font-family:sans-serif;
  font-size:0.8rem;

} 
