.footer {
  background-color: rgb(130, 129, 129);
  gap: 1rem;
  display: flex;
  flex-direction: column
}

.footer a {
  text-decoration: none;
  color: black;
}

.footer__columns {
  margin-top: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.column h4 {
  margin: 0;
  padding: 0.5rem 0;
}

.copyRight {
  padding: 0.3rem;
  background-color: rgb(211, 209, 209);
  font-size: 0.8rem;
}

@media (min-width: 992px) {
  .footer {
    width: 100vw;
  }

  .footer__columns {
    margin: 0;
    gap: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: start;
    align-self: center;
    width: 80%;
  }

  .column {
    padding: 2rem;  
    gap: 1rem;
    width: max-content;
  }

  .copyRight {
    padding: 0.5rem;
    width: 100%;
    font-family: sans-serif;
    font-size: 0.8rem;
  }
}